<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort (matSortChange)="sortData($event)">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="position"  >

    <th mat-header-cell *matHeaderCellDef (click)="customSort('position')"> <div >No.  <div *ngIf="!isSort && isIcons"  class="my-icon fa" [ngClass]="{'fa-chevron-down': !positionSortOrder, 'fa-chevron-up': positionSortOrder}" ></div></div>
    <td mat-cell *matCellDef="let element;let i=index">
    {{element.position}}
      <input type="radio"  [checked]="element.position == defalutSelcted "  [value]="element.position" (click)="changeSelectedId(element.position)">

      {{element.profileId}} {{selection}}
      {{element.position}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name" >
    <th  mat-header-cell *matHeaderCellDef (click)="customSort('name')"> <div >Name <div  *ngIf="isSort && isIcons" class="my-icon fa" [ngClass]="{'fa-chevron-down': !nameSortOrder, 'fa-chevron-up': nameSortOrder}" ></div></div> </th>
    <td mat-cell *matCellDef="let element" [ngClass]="{'highlight': element.position === defalutSelcted}"> {{element.name}} </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'highlight': row.position == defalutSelcted}">
  </tr>

</table>



<!-- Copyright 2020 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
